app1.py
deneme.py
C:/Users/sinan/OneDrive/Belgeler/Qr_Document_Verification/2024-12-01/
C:/Users/sinan/OneDrive/Belgeler/Qr_Document_Verification/2024-12-02/
C:/Users/sinan/OneDrive/Belgeler/Qr_Document_Verification/2024-12-08/

